[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "zsh-vcs-prompt"]
	path = zsh-vcs-prompt
	url = https://github.com/aki017/zsh-vcs-prompt.git
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/aki017/vimrc.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "nyancat"]
	path = nyancat
	url = https://github.com/klange/nyancat.git
[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
